
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body {
    background-color: #F5F5F5;
}
h1 {
    color: #111;
    text-align: center;
    margin: 50px 0 60px 0 ;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3em;
}
.sec1 {
    width: 100%;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .left {
        width: 45%;
        height: 45%;
        background: #fff;
        border-radius: 35px;
        margin-left: 15px;
        -webkit-box-shadow: 9px 6px 10px 0px rgba(0,0,0,0.3); 
        box-shadow: 9px 6px 10px 0px rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right {
        width: 45%;
        height: 45%;
        background: #111;
        border-radius: 25px;
        color: #fff;
        margin-right: 15px;
        padding: 30px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 25px;
        -webkit-box-shadow: 9px 6px 10px 0px rgba(0,0,0,0.3); 
        box-shadow: 9px 6px 10px 0px rgba(0,0,0,0.3);

        .right p {
            width: 100%;
        }
        
    }
}
.sec2 {
    margin: 15px;
    width: 95%;
    height: 40vh;
    background-color: #111;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    .sec2 video {
            width: 100%;
        }
}
    
@media only screen and (max-width: 860px) {
    .sec1 {
        flex-direction: column;
    }
    .sec1 > .right{
        width: 95%;
        font-size: 30px;
    } 
    .sec1 > .left {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 95%;
        height: 80%;
    }
  }